########################################################################
# watsonx.ai parameters
########################################################################
custom_spec:  
 watsonx_ai:
  tuning_disabled: {{ watsonx.tuning }}
  lite_install: {{ watsonx.lite }}