apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ gdsc.backup_pvc.name }}
  namespace: {{ gdsc.namespace }}
spec:
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  storageClassName: {{gdsc.backup_pvc.storageclass }}
  resources:
    requests:
      storage: {{gdsc.backup_pvc.size }}