# --------
# General details
# --------
export TMP_IDR="/home/azureuser"
export CPD_CLI_MANAGE_WORKSPACE=${TMP_DIR}/cpd/

# ---------
# Cluster login details
# ---------

# If using ARO, use the following to obtain the login credentials
export OPENSHIFT_TYPE=aro
export IMAGE_ARCH=amd64
export OCP_URL="$(az aro list --query '[0].apiserverProfile.url' -o tsv)"
export ARO_NAME="$(az aro list --query '[0].name' -o tsv)"
export ARO_RESOURCE_GROUP="$(az aro list --query '[0].resourceGroup' -o tsv)"
export OCP_USERNAME="$(az aro list-credentials -n ${ARO_NAME} -g ${ARO_RESOURCE_GROUP} --query 'kubeadminUsername' -o tsv)"
export OCP_PASSWORD="$(az aro list-credentials -n ${ARO_NAME} -g ${ARO_RESOURCE_GROUP} --query 'kubeadminPassword' -o tsv)"

# If using a different OpenShift distribution, uncomment the below and enter the values manually
# export OPENSHIFT_TYPE=aro        # Can be aro, roks, rosa or self-managed
# export IMAGE_ARCH=amd64          # Can be amd64, ppc64le or s390x
# export OCP_URL=""
# export OCP_USERNAME=""
# export OCP_PASSWORD=""
# export OCP_TOKEN=""              # If you are using a token instead of a password

export SERVER_ARGUMENTS="--server=${OCP_URL}"
export INSECURE_LOGIN=""
# export INSECURE_LOGIN="--insecure-skip-tls-verify=true"  # Uncomment this line if using self-signed certificates
export LOGIN_ARGUMENTS="--username=${OCP_USERNAME} --password=${OCP_PASSWORD} ${INSECURE_LOGIN}"    # Comment this line out if using a token for authentication
# export LOGIN_ARGUMENTS="--token=${OCP_TOKEN} ${INSECURE_LOGIN}"     # Uncomment this line if using a token for authentication
export CPDM_OC_LOGIN="cpd-cli manage login-to-ocp ${SERVER_ARGUMENTS} ${LOGIN_ARGUMENTS}"
export OC_LOGIN="oc login ${OCP_URL} ${LOGIN_ARGUMENTS}"

# ---------
# CPD configuration
# ---------
export PROJECT_CERT_MANAGER="ibm-cert-manager"
export PROJECT_LICENSE_SERVICE="ibm-licensing"
export PROJECT_SCHEDULING_SERVICE="ibm-cpd-scheduler"
export PROJECT_CPD_INST_OPERATORS="cpd-operator"
export PROJECT_CPD_INST_OPERANDS="cpd-instance"
export STG_CLASS_BLOCK="ocs-storagecluster-ceph-rbd"
export STG_CLASS_FILE="ocs-storagecluster-cephfs"

# Change this to your IBM software entitlement API key
export IBM_ENTITLEMENT_KEY="<your_ibm_entitlement_key>"        

# Set the following to the required Cloud Pak for Data version. This will affect the versions of the other components.
export VERSION=5.0.0 

# This is the required common service components. 
export COMPONENTS=ibm-cert-manager,ibm-licensing,scheduler,cpfs,cpd_platform